{% extends "blog/base.html" %}
{% block title %}
  <title>ศูนย์รวมความรู้ การขายของออนไลน์ สำหรับผู้เริ่มต้นในปี 2023</title>
  <meta name="description" content="รวมความรู้การขายของออนไลน์ ไม่ว่าจะเป็นบนเว็บไซต์ Shopee, Lazada, Amazon, Ebay, etc ครบ จบในที่นี้" />
{% endblock %}
{% block content %}
<div class="container">
    <br>
    <h1>ศูนย์รวมความรู้ การขายของออนไลน์ สำหรับผู้เริ่มต้นในปี 2023</h1>
    <p>รวมความรู้การขายของออนไลน์ ไม่ว่าจะเป็นบนเว็บไซต์ Shopee, Lazada, Amazon, Ebay, etc ครบ จบในที่นี้</p>
    <div class="row">
        {% for post in posts %}
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <img src="{{ post.featured_pic.url }}" alt="{{ post.tile }}" class="img-fluid">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{  post.description }}</p>
              <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">Read more</a>
            </div>
          </div><br>
        </div>
        {% endfor %}
        </div>
      </div>
</div>
{% endblock %}

