{% extends "blog/base.html" %}
{% block title %}<title>{{ post.title }}</title>{% endblock %}

{% block content %}
<div class="container">
    <br>
    <div class="col-sm-8">
        <h1>{{ post.title }}</h1><br>
        <img src="{{ post.featured_pic.url }}" alt="post.title" class="img-fluid"></img>
        <p>{{ post.content | safe }}</p>
    </div>
</div>
{% endblock %}

